<script>
$(function () {
        $('#day_total').highcharts({
            chart: {
                type: 'column',
                backgroundColor: '#eee'
            },
            title: {
                text: 'Bandwidth Total'
            },
            xAxis: {
                  categories: $('#day_total').data('dates')
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Megabytes'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} MBs</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Total Bandwidth',
                data: $('#day_total').data('total')
            }]
        });
    });
</script>

<div id="day_total" data-total='<%= @total %>' data-dates='<%= @dates %>'></div>